<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fentanyl Epidemic Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  </head>
  <body>
    <canvas id="myChart" width="300" height="150"></canvas>
    <script>
      async function fetchData() {
        const response = await fetch("./data.json")
        const jsonData = await response.json()

        const dates = []
        const numberOfArticles = []

        for (let i = 0; i < jsonData.length; i++) {
          const artDate = jsonData[i].date
          let formattedDate = artDate.substr(artDate.indexOf(" ") + 1)
          if (!dates.includes(formattedDate)) {
            dates.push(formattedDate)
          }
        }
        for (let i = 0; i < dates.length; i++) {
          let number = jsonData.filter(({ date }) =>
            date.includes(dates[i])
          ).length
          numberOfArticles.push(number)
        }

        return { dates, numberOfArticles }
      }

      async function drawChart() {
        data = await fetchData()

        const ctx = document.getElementById("myChart").getContext("2d")
        const myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: data.dates.reverse(),
            datasets: [
              {
                label: "Number of articles pertaining to fentanyl per month",
                data: data.numberOfArticles.reverse(),
                backgroundColor: "rgba(255, 99, 132, 0.7)",
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        })
      }

      drawChart()
    </script>
  </body>
</html>
